.App {
  text-align: center;
  color: #fff;
  width: 30%;
}

.h1 {
  margin: 0px;
}
.h2 {
  margin: 0px;
}
.h3 {
  margin: 0px;
}
.h4 {
  margin: 0px;
}

@keyframes clockTimeAnimation {
  from {color: #e53935;}
  to   {color: white;}
}



@media (max-width: 900px) {
  .App {
    width: 90%;
  }
}